* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONTS */

h1, h2, h3 {
    font-family: 'Signika', sans-serif; 
}

p {
    font-family: 'Bitter', serif;
}

.nav {
    background-color: grey;
    height: 140px;
    width: 100%;
}

.articleContainer h2 {
    font-size: 43px;
    width: 60%;
}

.article {
    align-items: center;
    background-color: #A9A9A9;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    float: left;
    height: 795px;
    width: 50%;
}

.LAHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95px;
    left: 50%;
    margin-left: -170px;
    position: absolute;
    top: 25%;
    width: 340px;
}

.LAHeader h1 {
    color:white;
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.LAH1 {
    align-items: center;
    background-color: #303030;
    display: flex;
    height: 50px;
    width: 340px;
}

.LAH2 {
    align-items: center;
    background-color: #303030;
    display: flex;
    height: 45px;
    width: 125px;
}

.latestPostsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 550px;
    width: 100%;
}

.latestPosts {
    background-color: #D3D3D3;
    border: 1px solid white;

}

.smashingMembers {
    background-color: #A9A9A9;
    border-radius: 20px;
    float: right;
    height: 675px;
    margin-right: 50px;
    width: 900px;
}

.NewOnSmash {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.seeAllLatestArticles {
    background-color: #D3D3D3;
    height: 255px;
    width: 100%;
}

.pdfPreview {
    background-color: #A9A9A9;
    border: 1px solid white;
    height: 1030px;
    width: 100%;
}

.pdfBtn {
    background-color: #303030;
    height: 70px;
    left: 50%;
    margin-left: -212.5px;
    margin-top: 450px;
    position: absolute;
    width: 425px;
}

.comunityLinks {
    background-color: #D3D3D3;
    border: 1px solid white;
    height: 480px;
    width: 100%;
}

.authorsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 450px 450px 450px;
}

.articles {
    background-color: #D3D3D3;
    border: 1px solid white;
}

.designSystem {
    background-color: #A9A9A9;
    border: 1px solid white;
    height: 480px;
    width: 100%;
}

.smashingNewsletter {
    background-color: #A9A9A9;
    border-radius: 20px;
    float: right;
    height: 600px;
    margin-right: 50px;
    width: 750px;
}

.footer {
    background-color: #A9A9A9;
    border: 1px solid white;
    height: 690px;
    width: 100%;
}
