* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: grey;
    height: 140px;
    width: 100%;
}

.article {
    background-color: #A9A9A9;
    float: left;
    height: 300px;
    width: 50%;
}